<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Attendance ID</th>
      <th>Employee ID</th>
      <th>Employee Surname</th>
      <th>Attendance Date</th>
      <th>Attendance Time</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>141</td>
      <td>107</td>
      <td>Sarkar</td>
      <td>2020-07-22</td>
      <td>22:44:48</td>
    </tr>
    <tr>
      <th>1</th>
      <td>143</td>
      <td>100</td>
      <td>Musk</td>
      <td>2020-07-22</td>
      <td>22:45:24</td>
    </tr>
    <tr>
      <th>2</th>
      <td>144</td>
      <td>95</td>
      <td>Gates</td>
      <td>2020-07-22</td>
      <td>22:48:41</td>
    </tr>
  </tbody>
</table>