<!DOCTYPE html>
<html lang="en">
<title>Dynamic Vision</title>
<meta charset="UTF-8">
<meta name="description" content="Facial Recognition App (Dynamic Vision)">
<meta name="author" content="Aziz Uddin">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body {font-family: "Lato", sans-serif}
.mySlides {display: none}

video {
  width: 60%;
  height: auto;
}

</style>
<script>

document.addEventListener('DOMContentLoaded', function() {

    var url = 'http://127.0.0.1:5001/GUI-is-still-open';
    fetch(url, { mode: 'no-cors'});
    setInterval(function(){ fetch(url, { mode: 'no-cors'});}, 5000)();

});

</script>
<body>

  <!-- Navbar -->
  <div class="w3-top">
    <div class="w3-bar w3-black w3-card">
      <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
      <a href="{{url_for('index')}}" class="w3-bar-item w3-button w3-padding-large">HOME</a>
      <a href="{{url_for('add_employee')}}" class="w3-bar-item w3-button w3-padding-large w3-hide-small">ADD EMPLOYEE</a>
      <a href="{{url_for('manage_employees')}}" class="w3-bar-item w3-button w3-padding-large w3-hide-small">MANAGE EMPLOYEES</a>
      <a href="{{url_for('register_attendance')}}" class="w3-bar-item w3-button w3-padding-large w3-hide-small">REGISTER ATTENDANCE</a>
      <a href="{{url_for('tutorial')}}" class="w3-bar-item w3-button w3-padding-large w3-hide-small">TUTORIAL</a>
      <a href="{{url_for('more')}}" class="w3-bar-item w3-button w3-padding-large w3-hide-small">MORE</a>
    </div>
  </div>

  <!-- Navbar on small screens (remove the onclick attribute if you want the navbar to always show on top of the content when clicking on the links) -->
  <div id="navDemo" class="w3-bar-block w3-black w3-hide w3-hide-large w3-hide-medium w3-top" style="margin-top:46px">
    <a href="{{url_for('add_employee')}}" class="w3-bar-item w3-button w3-padding-large" >ADD EMPLOYEE</a>
    <a href="{{url_for('manage_employees')}}" class="w3-bar-item w3-button w3-padding-large" >MANAGE EMPLOYEES</a>
    <a href="{{url_for('register_attendance')}}" class="w3-bar-item w3-button w3-padding-large" >REGISTER ATTENDANCE</a>
    <a href="{{url_for('tutorial')}}" class="w3-bar-item w3-button w3-padding-large" >TUTORIAL</a>
    <a href="{{url_for('more')}}" class="w3-bar-item w3-button w3-padding-large" >MORE</a>
  </div>

  <!-- index block -->
  {% block indexContent %} {% endblock %}
  <!-- add employee block -->
  {% block addEmployeeContent %} {% endblock %}
  <!-- register attendace block -->
  {% block registerAttendanceContent %} {% endblock %}
  <!-- manage employees block -->
  {% block manageEmployeesContent %} {% endblock %}
  <!-- update employees block -->
  {% block updateEmployeeContent %} {% endblock %}
    <!-- tutorial block -->
  {% block tutorialContent %} {% endblock %}
  <!-- more block -->
{% block moreContent %} {% endblock %}
  <!-- Footer -->
    <footer class="w3-container w3-padding-64 w3-center w3-opacity w3-light-white w3-xlarge">
      <i class="fa fa-facebook-official w3-hover-opacity"></i>
      <i class="fa fa-instagram w3-hover-opacity"></i>
      <i class="fa fa-snapchat w3-hover-opacity"></i>
      <i class="fa fa-pinterest-p w3-hover-opacity"></i>
      <i class="fa fa-twitter w3-hover-opacity"></i>
      <i class="fa fa-linkedin w3-hover-opacity"></i>
      <p class="w3-medium">Web application developed by <a href="mailto:uddin.az123@gmail.com">Aziz Uddin</a><br></p>
      <p class="w3-medium">Templete by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
    </footer>

  <script>
  // Automatic Slideshow - change image every 4 seconds
  var myIndex = 0;
  carousel();

  function carousel() {
    var i;
    var x = document.getElementsByClassName("mySlides");
    for (i = 0; i < x.length; i++) {
      x[i].style.display = "none";
    }
    myIndex++;
    if (myIndex > x.length) {myIndex = 1}
    x[myIndex-1].style.display = "block";
    setTimeout(carousel, 4000);
  }

  // Used to toggle the menu on small screens when clicking on the menu button
  function myFunction() {
    var x = document.getElementById("navDemo");
    if (x.className.indexOf("w3-show") == -1) {
      x.className += " w3-show";
    } else {
      x.className = x.className.replace(" w3-show", "");
    }
  }

  // When the user clicks anywhere outside of the modal, close it
  var modal = document.getElementById('ticketModal');
  window.onclick = function(event) {
    if (event.target == modal) {
      modal.style.display = "none";
    }
  }
</script>

</body>
</html>
