<!-- this page extends from templates/bse.html -->
{% extends 'base.html' %}
{% block indexContent %}
<!-- Page content -->
<div class="w3-content" style="max-width:2000px;margin-top:46px">

  <!-- Automatic Slideshow Images -->
  <div class="mySlides w3-display-container w3-center">
    <img src="{{url_for('static', filename='images/AIone.jpg')}}" style="width:100%">
    <div class="w3-display-bottommiddle w3-container w3-text-white w3-padding-32 w3-hide-small">
      <p><b>A year spent in artificial intelligence is enough to make one believe in God.</b></p>
      <h3>Alan Perlis</h3>
    </div>
  </div>
  <div class="mySlides w3-display-container w3-center">
    <img src="{{url_for('static', filename='images/AItwo.jpg')}}" style="width:100%">
    <div class="w3-display-bottommiddle w3-container w3-text-white w3-padding-32 w3-hide-small">
      <p><b>The key to artificial intelligence has always been the representation.</b></p>
      <h3>Jeff Hawkins</h3>
    </div>
  </div>
  <div class="mySlides w3-display-container w3-center">
    <img src="{{url_for('static', filename='images/AIthree.jpg')}}" style="width:100%">
    <div class="w3-display-bottommiddle w3-container w3-text-white w3-padding-32 w3-hide-small">
      <p><b>The question of whether a computer can think is no more interesting than the question of whether a submarine can swim.</b></p>
      <h3>Edsger W. Dijkstra</h3>
    </div>
  </div>

  <!-- The Band Section -->
  <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="band">
    <h2 class="w3-wide">Dynamic Vision Technology</h2>
    <!-- <p class="w3-opacity"><i>We love music</i></p> -->
    <p class="w3-justify" style="font-style: italic;">"A <b>facial recognition system </b> is a technology capable of identifying or verifying a person from a digital image or a video frame from a video source. There are multiple methods in which facial recognition systems work, but in general, they work by comparing selected facial features from given image with faces within a database. It is also described as a Biometric Artificial Intelligence based application that can uniquely identify a person by analyzing patterns based on the person's facial textures and shape." &nbsp <a href="https://en.wikipedia.org/wiki/Facial_recognition_system" target="_blank">wikipedia</a></p>

    <p class="w3-justify"><b>Dynamic Vision:</b> The aims of this technology is to detect the attendace of an employee and to maintain a record of those collected data into a database system.
      The presence of employees can be determined by capturing their face on to a high definition monitor video streaming service. The technique used to recognise human face is <b>Feature-based approach</b>.
    </p>
    <img src="{{url_for('static', filename='images/facial-recognition.png')}}" style="width:100%">
    <p class="w3-opacity">Working Principles</p>
    <p class="w3-justify">
      <b>Capture</b> camera is positioned at the entrance of the building to capture entering employees.
      <b>Extraction</b> captured video is convreted into frames per second easier detection and recognition of emplyees.
      <b>Comparison</b> process of face detection where the given input image is searched with images available into database system.
      <b>Matching</b> after detecting and processing face, employee attendace sheet is updated with name, date and other valuable information.
    </p>
    <p class="w3-justify">
      The system can be implemented anywhere such as schools, colleges, universities, airports and more. Poor lighting condition may affect image quality which indirectly degrades system performance.
    </p>
  </div>

  <!-- End Page Content -->
</div>

<!-- Bottom image section -->
<div class="w3-display-container w3-center">
  <img src="{{url_for('static', filename='images/faces.jpg')}}" class="w3-image w3-greyscale-min" >
</div>


<!-- The Contact Section -->

{% endblock %}
