{% extends 'base.html' %}
{% block manageEmployeesContent %}
<div class="w3-container w3-content w3-center w3-padding-64" style="max-width:1800px;">
  <div class="w3-row">

    <!-- Manage Employee Table -->
    <div class="w3-col w3-container m8 l8 " style=" word-break: break-all; max-height:550px; width: 100%; overflow-y: auto; font-size:1vw;" >
        <h2> Manage Employees</h2>

        <table class="w3-table">
          <tr>
            <th>ID</th>
            <th>Photo</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Position</th>
            <th>Email</th>
            <th>DOB</th>
            <th>Nationality</th>
            <th>Gender</th>
          {%-for record in records %}
          </tr>
            <td>{{record[0]}}</td>
            <td><img width='60px' height='auto' src='data:;base64,{{ images[loop.index0] }}' style="max-width: 100%; height: auto;"></td>
            <td>{{record[2]}}</td>
            <td>{{record[3]}}</td>
            <td>{{record[4]}}</td>
            <td>{{record[5]}}</td>
            <td>{{record[6]}}</td>
            <td>{{record[7]}}</td>
            <td>{{record[8]}}</td>
            <td>
              <a href="{{url_for('get_employee_for_update', employee_id=record[0])}}" class="w3-button w3-green  w3-right">update</a>
            </td>
            <td>
              <a href="{{url_for('delete_employee', employees_id=record[0])}}" class="w3-button w3-red  w3-right">delete</a>
            </td>
          </tr>
          {%- endfor %}
        </table>
      </div>
    </div>
</div>
{% endblock %}
