{% extends 'base.html' %}
{% block moreContent %}

<div class="w3-container w3-content w3-center w3-padding-64" style="max-width:1800px; margin-left:20px; margin-right:20px">
  <div class="w3-row">

    <div class="w3-row-padding w3-black " style="margin:10px -16px 8px -16px">
      <div class="w3-half">
        <video width="600" height="auto"  style="padding:20px;" autoplay loop controls muted>
          <source src="{{url_for('static', filename='videos/finalVideo.mp4')}}" type="video/mp4">
        </video>
      </div>
      <div class="w3-half w3-text-white">
        <h2 class="w3-wide">DYNAMIC VISION TECHNOLOGIES</h2>
        <p class="w3-justify">
          I.   <b>Web Framework</b>: Flask <br>
          II.  <b>Web Template</b>: Jinja <br>
          III. <b>Client Side</b>: HTML, CSS, and JavaScript <br>
          IV. <b>Server Side</b>: python and MySQL<br>
          V. <b>Modules/Libraries</b>: OpenCV, face_recognition, xlsxwriter, base64 and pdfkit<br>
        </p>

        <p class="w3-justify">
          VI.   <b>Web Application Developed by</b>: Aziz Uddin<br>
          VI.   <b>Email: </b>: uddin.az123@gmail.com<br>
          VI.   <b>Contact</b>: +44 7594598003<br>
        </p>
      </div>
    </div>

  </div>
</div>
{% endblock %}
