{% extends 'base.html' %}
{% block registerAttendanceContent %}
<div class="w3-container w3-content w3-center w3-padding-64" style="max-width:1500px;">
  <div class="w3-row">
    <!-- add section form  -->
    <div class="w3-col w3-container m4 l4 w3-black" style="max-width:500px; margin-top:80px;">
        <h2>Manage Attendance</h2>
        <form action="{{url_for('register_attendance')}}" method="POST" enctype="multipart/form-data">
          <!-- add button section -->
          <div class="w3-row-padding" style="margin:10px -9px 8px -9px">
            <button class="w3-button w3-white w3-section w3-right" type="submit" name="check_attendance" style="width:100%">Face Recognition Attendance</button>
          </div>
          <div class="w3-row-padding" style="margin:10px -9px 8px -9px">
            <button class="w3-button w3-white w3-section w3-right" type="submit" name="download_pdf" style="width:100%">Download Attendance Sheet of the Day</button>
          </div>
        </form>
    </div>



    <!-- Employee Table -->
    <div class="w3-col w3-container m8 l8 " style=" padding-left:40px; word-break: break-all; max-height:550px; overflow-y: auto; font-size:1vw;" >
      <div>
        <h2>Attendance</h2>

        <table class="w3-table">
          <tr>
            <th>Attendance ID</th>
            <th>Photo ID</th>
            <th>Employee ID</th>
            <th>Employee Surname</th>
            <th>Attendance Date</th>
            <th>Attendance Time</th>
          {%-for record in records %}
          </tr>
            <td>{{record[0]}}</td>
            <td><img width='50px' height='auto' src='data:;base64,{{ images[loop.index0] }}'></td>
            <td>{{record[1]}}</td>
            <td>{{record[3]}}</td>
            <td>{{record[4]}}</td>
            <td>{{record[5]}}</td>
            <td>
              <a href="{{url_for('delete_attendance', attendance_id=record[0])}}" class="w3-button w3-red  w3-right">delete</a>
            </td>
          </tr>
          {%- endfor %}
        </table>
      </div>
      <div class="">
        <p>Attendance record stays up from <b>00:00 AM </b> to <b>00:00 PM  </b> of the same day. Past midnight record of previous day is deleted. </p>
      </div>
    </div>

  </div>

</div>
{% endblock %}
