{% extends 'base.html' %}
{% block tutorialContent %}

<div class="w3-container w3-content w3-center w3-padding-64" style="max-width:1800px; margin-left:20px; margin-right:20px">
  <div class="w3-row">

    <div class="w3-row-padding w3-black " style="margin:10px -16px 8px -16px">
      <div class="w3-half">
        <video width="600" height="auto" style="padding:20px;"  autoplay loop controls muted>
          <source src="{{url_for('static', filename='videos/addEmployee.mp4')}}" type="video/mp4">
        </video>
      </div>
      <div class="w3-half w3-text-white">
        <h2 class="w3-wide">ADD EMPLOYEE</h2>
        <p class="w3-justify">
          I.   Fill up the form <br>
          II.  Load identification photo ID <br>
          III. Press <b>ADD</b> button
        </p>
      </div>
    </div>

  </div>
  <div class="w3-row">

    <div class="w3-row-padding w3-white " style="margin:10px -16px 8px -16px">
      <div class="w3-half">
        <h2 class="w3-wide">MANAGE EMPLOYEES</h2>
        <p class="w3-justify">
          I. To update employee personal inforomation press <b>UPDATE</b> button <br>
          II. To delete employee from system press <b>DELETE</b> button <br>
        </p>
      </div>
      <div class="w3-half w3-text-white">
        <video width="600" height="auto" style="padding:20px;"  autoplay loop controls muted>
          <source src="{{url_for('static', filename='videos/manageEmployees.mp4')}}" type="video/mp4">
        </video>
      </div>
    </div>

    <div class="w3-row">

      <div class="w3-row-padding w3-black " style="margin:10px -16px 8px -16px">
        <div class="w3-half">
          <video width="600" height="auto" style="padding:20px;"  autoplay loop controls muted>
            <source src="{{url_for('static', filename='videos/faceRecognition.mp4')}}" type="video/mp4">
          </video>
        </div>
        <div class="w3-half w3-text-white">
          <h2 class="w3-wide">FACE RECOGNITION ATTENDANCE</h2>
          <p class="w3-justify">
            I. To start employee face recognition attendance system press <b>Face Recognition Attendance</b> button <br>
            II. To exit from <b>Facial Recognition Attendance</b> frame press either <b>Esc</b> or <b>x</b> from frame right corner<br>
          </p>
          <p class="w3-justify">
            <b>IMPORTANT</b>: attendance of employee is not registered twice on attendance table unless is it is deleted from it.
          </p>
        </div>
      </div>

    </div>

    <div class="w3-row">

      <div class="w3-row-padding w3-white " style="margin:10px -16px 8px -16px">
        <div class="w3-half">
          <h2 class="w3-wide">OBTAIN ATTENDANCE PDF SHEET</h2>
          <p class="w3-justify">
            I. To delete employee from attendace table press <b>DELETE</b> button <br>
            II. To obtain attendance sheet of the DAY press <b>Download Attendance Sheet of the Day</b><br>
          </p>
        </div>
        <div class="w3-half w3-text-white">
          <video width="600" height="auto" style="padding:20px;"  autoplay loop controls muted>
            <source src="{{url_for('static', filename='videos/attendancePDF.mp4')}}" type="video/mp4">
          </video>
        </div>
      </div>

  </div>
</div>
{% endblock %}
